html{
    margin-top: -50px;
}

body {
    padding-top: 60px;
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(191, 190, 190);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img {
    transition: all 0.25s ease-in;
    opacity: 70%;
    padding-left: 40px;
    width: 300px;
    height: 330px;
}

.container {
    margin-top: 120px;
}

.container2 {
    margin: 120px auto 40px auto;
    width: 60%;
}

.img2 {
    transition: all 0.25s ease-in;
    opacity: 70%;
    width: 300px;
    height: 330px;
    padding-left: 40px;
}

a :hover {
    opacity: 100%;
}

.summary {
    margin-top: 30px;
    color: antiquewhite;
    font-family: "Edu TAS Beginner", cursive;
}

.heading {
    color: #45eeb3;
}
@keyframes transition{
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
@keyframes fade {
    0%   {opacity: 0;size: 0;}
    25%  {opacity: 100%;}
    50%  {opacity: 0;}
    75%  {opacity: 100%;}
    100% {opacity: 0;}
  }
.loader{
    animation-name: fade;
    animation-duration: 6.9s;
}
.loadWrapper{
    background-image: url(bg.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    animation-delay: 2000;
    animation-name: transition;
    display: none;
}
