#nav-bar-sec{
    background-color: #00C984;
    height: 91px;
    width: auto;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -8px;
}

#nav-bar-ul{
    display: inline;
    list-style-type: none;
}
.nav-item{
    float: right;
    margin-left: 10px;
    margin-right: 23px;
    margin-top: 35px;
}

.nav-ul-link{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
}

.nav-ul-link:hover{
    /*text-decoration: underline;
    text-decoration-color: black;
    font-size: 28px;*/
    transition: 0.1s ease;
    color:white;
}
#final-link{
    margin-right: 23px;
}

#logo-share{
    height: 75px;
    margin-right: 10px;
    margin-left: 27px;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    margin-top: 12px;
}

#logo-iitk{
    height: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
}

#nav-img-link{
    text-decoration: none;
}

/**/

@keyframes transition{
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fade {
    0%   {opacity: 0;size: 0;}
    25%  {opacity: 100%;}
    50%  {opacity: 0;}
    75%  {opacity: 100%;}
    100% {opacity: 0;}
  }

.loader{
    animation-name: fade;
    animation-duration: 6.9s;
}

.loadWrapper{
    
    background-image: url(bg.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: none;
    box-sizing: content-box;
}

#loader-img{
    height: 111px;
    width: 111px;
}

#green-bar{
    height: 175px;
    width: auto;

    background-color: #00C984;

    margin-right: -20px;
    margin-left: -20px;
}